@tailwind base;
@tailwind components;
@tailwind utilities;

html,body
{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color:rgb(27, 27, 27);
}

h1
{
  font-size: 37px;
  font-weight: bold;
}
h2
{
  font-weight:bolder;
  font-size:36px
}

p, h3
{
  font-size: 18px;
}

label
{
  font-size: medium;
  background-color: rgb(72, 72, 72);
  width: 75%;
}

.background
{
  width: 100%;
  background-image: url("../images/bkg-img.jpeg");
  background-color: rgba(255, 255, 255, 0.096);
  background-blend-mode: screen;
}

.circle
{
  animation: bounce 1s infinite alternate-reverse;
}

input, textarea
{
  padding:0.5em;
  padding-inline: 1em;
  font-size: 14px;
}

button
{
  font-size:14px;
}

@keyframes bounce
{
  from{transform: translate(209px,717px);}
  to{transform: translate(209px,745px);}
}

@media screen and (max-width: 1200px) {
  .about-pictures
  {
    display: none;
  }
}